html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #303030;
}

#game {
  width: 100vw;
  aspect-ratio: 1920 / 1080;
  background-color: #fff;
}

#game__canvas {
  width: 100%;
  height: 100%;
}
